# Ignore Visual Studio build folders
x64/
Debug/
Release/

# Ignore user-specific and temporary files
*.VC.db
*.sdf
*.opensdf
*.user
*.log

# Ignore .vcxproj files
*.vcxproj
*.vcxproj.filters

# Ignore hidden VS folder
.vs/
